:root {
    --light-green: #A8D5BA;
    --olive-green: #6B8E23;
    --off-white: #F8F8F8;
    --light-beige: #F5F5DC;
    --pale-yellow: #FAEBD7;
    --soft-gray: #D3D3D3;
    --tomato-red: #FF6347;
    --orange: #FFA500;
}